@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Home Page";
}
<h2>ViewBag.Title = @ViewBag.Title</h2>
<h2>ViewBag.Name = @ViewBag.Name</h2>
<p>@Raw("This is <strong>raw</strong> HTML.")</p>
<p>content</p>
<p>content</p>
